footer {
    border-top: 1px solid rgb(80, 80, 80);
}

footer div {
    height: 40px;
    margin: 0 auto;
    max-width: 640px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-size: 14px;
    color: rgb(112, 112, 112);
}