* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(229, 229, 229);
    line-height: 1;
    scrollbar-width: thin;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(26, 26, 26);
}

a {
    text-decoration: none;
}

section {
    margin: 64px 0;
}

.element {
    margin: 24px 0;
}

.text-element {
    margin: 28px 0;
}

#root {
    margin: 64vh auto 0;
    max-width: 640px;
}

#tag-btn {
    display: inline-block;
    border-radius: 4px;
    background-color: crimson;
    margin: 16px 24px;
    padding: 8px;
    font-size: 14px;
    font-weight: 900;
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 0.90;
}

#tag-btn:hover {
    opacity: 1;
}

#header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}

#header a {
    margin-right: 8px;
    color: rgb(112, 112, 112);
}

#header a:hover {
    color: rgb(160, 160, 160);
}

#nav {
    position: fixed;
    top: 50%;
    left: 100%;
    transform: translate(-90%, -50%);
    opacity: 0;
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    padding-right: 24px;
    pointer-events: hover;
}

#nav button {
    text-wrap: nowrap;
    border: none;
    background-color: transparent;
    font-size: 16px;
    max-width: fit-content;
    padding: 8px 0;
    cursor: pointer;
}

#nav.visible {
    transform: translate(-100%, -50%);
    opacity: 1;
    pointer-events: all;
}

#nav:not(.visible):hover {
    transform: translate(-100%, -50%);
    opacity: 1;
    pointer-events: all;
}

#nav:hover * {
    color: rgb(160, 160, 160);
}

#nav button:hover {
    color: rgb(242, 242, 242);
}

#content {
    opacity: 0;
    transition: all 0.4s;
}

#content.visible {
    opacity: 1;
}

#content * {
    line-height: 1.75;
}

.heading {
    color: rgb(160, 160, 160);
    font-size: 14px;
}