* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    line-height: 1;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    padding: 16px 24px 40px;
}

a {
    text-decoration: none;
}

#root {
    margin: 64vh auto 0;
    max-width: 640px;
}

#tag-btn {
    display: inline-block;
    border-radius: 4px;
    background-color: crimson;
    margin: 16px 24px;
    padding: 8px;
    font-size: 13.3333px;
    font-weight: 900;
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 0.90;
}

#tag-btn:hover {
    opacity: 1;
}

#header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    padding: 0 24px;
}

#header a {
    margin-right: 8px;
    color: hsl(0, 0%, 70%);
}

#header a:hover {
    color: hsl(0, 0%, 77%);
}

#nav {
    position: fixed;
    top: 50%;
    left: 100%;
    transform: translate(-90%, -50%);
    opacity: 0;
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    padding-right: 24px;
    pointer-events: none;
}

#nav button {
    text-wrap: nowrap;
    border: none;
    background-color: transparent;
    font-size: 16px;
    max-width: fit-content;
    margin: 8px 0;
    cursor: pointer;
}

#nav.visible {
    transform: translate(-100%, -50%);
    opacity: 1;
    pointer-events: all;
}

#content {
    opacity: 0;
    transition: all 0.4s;
}

#content.visible {
    opacity: 1;
}