#marquee {
    overflow: hidden;
    margin: 64px 0;
}

#marquee-track {
    display: flex;
    width: max-content;
    gap: 16px;
    animation: scroll 40s linear infinite;
}

#marquee span {
    color: rgb(160, 160, 160);
}

@keyframes scroll {
    to {
        transform: translateX(calc(-25% - 4px));
    }
}

.fadeout-horizontal {
    mask-image: linear-gradient(to right,
            transparent,
            rgb(26, 26, 26) 16px,
            rgb(26, 26, 26) calc(100% - 16px),
            transparent);
}