.project {
    position: relative;
}

.wrapper {
    max-width: 40%;
}

.link {
    text-decoration-line: underline;
    text-decoration-color: rgb(80, 80, 80);
    text-decoration-thickness: 1px;
    text-underline-offset: 2.5px;
    text-decoration-skip-ink: none;
    transition: text-decoration-color 0.2s ease;
}

.link:hover {
    text-decoration-color: rgb(160, 160, 160);
}

.description {
    color: rgb(160, 160, 160);
}

.preview {
    visibility: hidden;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 80%;
    opacity: 0;
    transition: opacity 0.4s ease-in, opacity 0.2s ease-out, visibility 0s linear 0.2s;
}

.preview video {
    width: 400px;
    border: 1px solid rgb(80, 80, 80);
    border-radius: 16px;
}

.wrapper:hover+.preview {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s, 0s;
}