.project {
    position: relative;
}

.wrapper {
    max-width: 40%;
}

.link {
    text-decoration-line: underline;
    text-decoration-color: rgb(80, 80, 80);
    text-decoration-thickness: 1px;
    text-underline-offset: 2.5px;
    text-decoration-skip-ink: none;
}

.link:hover {
    text-decoration-color: rgb(160, 160, 160);
}

.description {
    color: rgb(160, 160, 160);
}

.preview {
    display: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 80%;
}

.preview video {
    width: 400px;
    border: 1px solid rgb(80, 80, 80);
    border-radius: 16px;
}

.wrapper:hover+.preview {
    display: block;
}